# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled files
*.so
*.pyd
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE-specific files
.vscode/
.idea/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml
*.cover
.hypothesis/

# Test output
.pytest_cache/
junit-xml/

# Static assets
app/static/

# database
database/*.dbdatabase/stock_data.db

# log files
logs/
